venv/
.env
__pycache__/
*.pyc
logs/
*.log
.vscode/
*.db
vector_store/
memory/chroma_db/
memory/chroma_db_test/
memory/chroma_db_corrupt/
memory/chroma_db_corrupt_2/
database/uploaded_pdfs/
database/bib_files/
frontend/static/uploaded_pdfs/
static/uploaded_pdfs/
reports/generated_reports/
reports/mentor_reports/
uploads/